<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709282901717-il7b4ts4p1hvhnhm2kuobfrak9tmf20h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709282901717-il7b4ts4p1hvhnhm2kuobfrak9tmf20h</string>
	<key>API_KEY</key>
	<string>AIzaSyBdKDZ33ht1BXHaxaxJCEAlW8KVrsprEiA</string>
	<key>GCM_SENDER_ID</key>
	<string>709282901717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armsreach.Drumed</string>
	<key>PROJECT_ID</key>
	<string>drum-ed</string>
	<key>STORAGE_BUCKET</key>
	<string>drum-ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709282901717:ios:a3b0db430b4c67013b3c5c</string>
	<key>DATABASE_URL</key>
	<string>https://drum-ed.firebaseio.com</string>
</dict>
</plist>